%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => :en,  :lang => :en }

  %head
    = render :partial => "messagebox/button_styles"

  %body
    .MB_alert
      %p
      .mboxcaption{ :style => "border: min-height:48px; " }
        = image_tag("di_core/icon_#{@icon}.png", :alt => "#{@icon}", :style => "float:left; padding-right:0.75em; padding-left:0.25em;")
        %span{ :style => "vertical-align:middle;" }
          %b= "#{@caption}"
      %br
      %br
      = render :partial => "messagebox/button_bar", :locals => { :buttons => @buttons }
      